.offer {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.image {
    display: flex;
    gap: 20px;
    align-items: center;
}
.itemMargin {
    margin-bottom: 30px;
}