.itemBox {
    background-color: rgb(226,234,240);
    margin-top: 20px;
    border-radius: 10px;
}
.bg {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.item {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.item img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.item section {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.itemMain main{
    font-size: 15px;
    font-weight: bold;
}
.quantity {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.button {
    display: flex;
    gap: 30px;
    border: 1px solid gray;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.button button{
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
}
.quantity select {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.delivery {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.deliveryItem {
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
}